# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Database
*.sqlite3
*.sqlite

# Environment
.env

# Node.js
node_modules/
.next/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/


# Media (optional)
backend/media/

# Static collectstatic output (optional)
backend/staticfiles/
# Temporary resident import files
data/*.csv

# Keep the data folder
!data/.gitkeep
