asgiref==3.11.0
charset-normalizer==3.4.7
diff-match-patch==20241021
Django==6.0.3
django-cors-headers==4.9.0
django-filter==25.2
django-import-export==4.4.0
djangorestframework==3.16.1
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.0.0
psycopg2-binary==2.9.11
qrcode==8.2
reportlab==4.5.1
sqlparse==0.5.5
tablib==3.9.0
